extend layout.pug

block content
    main.inner.cover(role='main')
        h1.cover-heading Welcome #{ name }
            p.lead Random Question Application
            p.lead
                a.btn.btn-lg.btn-success(href='/questions') Begin
