extend layout.pug

block content
  main.inner.cover(role='main')
    h1.cover-heading Random Question Application
      p.lead Developed on Express Web Framework, PUG View Engine and JSON
      p.lead
        a.btn.btn-lg.btn-secondary(href='/about') Learn more